
\.vs/SoftwareGroup\.Profiler/v15/\.suo
test/SoftwareGroup.Service.Profiling.Tests/bin/Debug/netcoreapp1.1
test/SoftwareGroup.Service.Profiling.Tests/obj
test/SoftwareGroup.Service.Profiling.Tests/bin/Debug/netcoreapp1.1
test/SoftwareGroup.Service.Profiling.Tests/obj

*.pdb

src/obj/Debug/netstandard1\.4/

src/bin/Debug/netstandard1\.4/

src/obj/
/src/SoftwareGroup.Service.Profiling/.vs/SoftwareGroup.Profiler/v15
/src/SoftwareGroup.Service.Profiling/bin/Debug
/test/SoftwareGroup.Service.Profiling.Tests/bin/Debug/netcoreapp1.1
/test/SoftwareGroup.Service.Profiling.Tests/obj

src/SoftwareGroup\.Service\.Profiling/obj/Debug/netstandard1\.6/

src/SoftwareGroup\.Service\.Profiling/obj/

bin
\.vs/

src/Rocket\.Libraries\.Profiling/obj/Debug/netstandard1\.6/

src/Rocket\.Libraries\.Profiling/obj/Debug/netstandard2\.0/

src/Rocket\.Libraries\.Profiling/obj/

test/Rocket\.Libraries\.Profiling\.Tests/obj/Debug/netcoreapp1\.1/

test/Rocket\.Libraries\.Profiling\.Tests/obj/Debug/netcoreapp2\.2/

test/Rocket\.Libraries\.Profiling\.Tests/obj/
